<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ac.id.atmaluhur.mhs.PESAN">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.UAS_DPM_TC_PESAN">
        <activity
            android:name=".MainActivity2"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".DataDiri"
            android:exported="false" />
        <activity
            android:name=".DataMakanan"
            android:exported="false" />
        <activity
            android:name=".DataMinuman"
            android:exported="false" />
        <activity
            android:name=".DataUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".Makanan"
            android:exported="false" />
        <activity
            android:name=".MenuUtama"
            android:exported="false" />
        <activity
            android:name=".Minuman"
            android:exported="false" />
        <activity
            android:name=".UpdateDataDiri"
            android:exported="false" />
        <activity
            android:name=".UpdateMakanan"
            android:exported="false" />
        <activity
            android:name=".UpdateMinuman"
            android:exported="false" />
        <activity
            android:name=".UpdateUser"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>